<extend name="master" />
<block name="reference">
	<title>关于我们</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/about.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/about_sub.css" />
</block>
<block name="content">
	<div class="wrap">
		<div id="middle">
			<div id="box">
				<div class="m_left">
					<div class="subNav">
						<ul>
							<li>
								<a href="">公司简介</a>
							</li>

							<li>
								<a href="">公司资质</a>
							</li>

							<li>
								<a href="">团队风采</a>
							</li>

							<li>
								<a href="">办公环境</a>
							</li>

							<li>
								<a href="">管理团队</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="m_right">
					<div class="onebox">
						<h1>公司简介</h1> 1111111111
					</div>
				</div>
			</div>
		</div>
		<div class="wrap_footer"></div>
	</div>
	<script type="text/javascript">
//			$(document).ready(function() {
//				$("#title_c04").addClass("header_nav").siblings.removeClass("header_nav");
//			});
	</script>
</block>