<extend name="master" />
<block name="reference">
	<title>新手指引</title>
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/xszd.css">
</block>
<block name="content">
	<!--Start middle-->
	<div id="middle">
		<div id="box">
			<div class="help_mid">
				<div class="clear10"></div>
				<div id="help_4">
					<div class="clear"></div>
					<div id="help_con">
						<div class="bg"><img src="__PUBLIC__/imgs/1_01.jpg"></div>
						<div class="bg"><img src="__PUBLIC__/imgs/1_02.jpg"></div>
						<div class="bg"><img src="__PUBLIC__/imgs/1_03.jpg"></div>
						<div class="bg"><img src="__PUBLIC__/imgs/1_04.jpg"></div>
						<div class="bg"><img src="__PUBLIC__/imgs/1_05.jpg"></div>
						<div class="bg"><img src="__PUBLIC__/imgs/1_06.jpg"></div>
						<div class="bg"><img src="__PUBLIC__/imgs/1_07.jpg"></div>
						<div class="bg"><img src="__PUBLIC__/imgs/1_08.jpg"></div>
						<div class="bg"><img src="__PUBLIC__/imgs/1_09.jpg"></div>
					</div>
				</div>
			</div>
		</div>
		<!--End middle-->
		<div class="wrap_footer"></div>
	</div>
</block>