<extend name="Index/master" />
<block name="reference">
	<title>会员管理-会员列表</title>
	<link rel="stylesheet" href="__PUBLIC__/admin/css/toupiao.css" />
</block>
<block name="content">
	<p class="pageTitle">待回款中项目列表</p>
	<!--投票中的列表-->
	<div class="list">
		<table class="table"cellpadding="0" cellspacing="0">
			<tr>
				<th><label><input type="checkbox" name="xuanze[]" value=""></label></th>
				<th>ID</th>
				<th>众筹项目名称</th>
				<th>发起人</th>
				<th>目标金额</th>
				<th>已筹资金</th>
				<th>投票金额/出售金额</th>
				<th>发布时间</th>
				<th>最长持有期限</th>
				<th>操作</th>
			</tr>
			<foreach name="list" item="item">
				<tr>
					<td><label><input type="checkbox" name="xuanze[]" value=""></label></td>
					<td>{$item.id}</td>
					<td>{$item.title}</td>
					<td>{$item.username}</td>
					<td>{$item.need}(元)</td>
					<td>{$item.had}(元)</td>
					<td>{$item.vote}(元)</td>
					<td>{$item.begin_time}</td>
					<td>{$item.surplus_time}(天)</td>
					<td>
<?php 
    if($status==="sell,vote"){
        echo '<a href="'.U("startVote",["pid"=>$item["id"]]).'">投票</a>';
    }
    elseif($status==="return"){
        echo '<a href="'.U("Api/Fund/complete",["pid"=>$item["id"]]).'">回款</a>';
    }
?>
						<!--<a href="javaScript:void(0)">编辑</a>-->
						<a href="javaScript:void(0)">删除</a>
					</td>
				</tr>
			</foreach>
		</table>
	</div>
</block>